
.custom-scroll::-webkit-scrollbar {
  width:1px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; 
  border-radius: 10px;
}


.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}
body{
    background-color: #F8F9FA;
}